.galleryPhotos
    @include flex-center-column
    width: 100vw
    margin: 50px auto
    @include mq (tablet)
        flex-direction: row
        flex-wrap: wrap
    @include mq (tablet-wide)
        width: 90vw
    @include mq-land(phablet)
        width: 90vw
        flex-direction: row
        flex-wrap: wrap
    @include mq-land(tablet-wide)
        width: 85vw
    .gallery__wrapper
        @include flex-center
        position: relative
        width: 90vw
        height: 90vw
        margin: 20px auto
        @include mq(tablet)
            width: 45vw
            height: 30vh
        @include mq (tablet-wide)
            width: 28vw
            height: 20vh
        @include mq-land(phone)
            width: 80vw
            height: 110vh
        @include mq-land(phablet)
            width: 40vw
            height: 70vh
        @include mq-land(tablet)
            width: 27vw
            height: 35vh
        @include mq-land(desktop)
            width: 27vw
            height: 45vh

        &:hover::before
            background-color: rgba( 250, 239, 237, 0.7)
            content: ""
            width: 100%
            height: 100%
        &:hover .gallery__info
            width: 50%
            height: 10%
            opacity: 1
        &:hover .gallery__enlarge-div
            top: 50%
            opacity: 1
        &:nth-of-type(1)
            @include pictureJpg (1)
        &:nth-of-type(2)
            @include pictureJpg (2)
        &:nth-of-type(3)
            @include pictureJpg (3)
        &:nth-of-type(4)
            @include picturePng (4)
        &:nth-of-type(5)
            @include picturePng (5)
        &:nth-of-type(6)
            @include pictureJpg (6)
        .gallery__enlarge-div
            @include position-center
            top: 0
            width: 60px
            height: 60px
            opacity: 0
            background-color: $white-bgc
            border-radius: 50%
            transition: 0.3s ease-in-out
            &:hover 
                background-color: $font-color
            .gallery__enlarge
                @include position-center
                color: $gold-bgc
                font-size: 24px 
        .gallery__info
            @include flex-center
            @include position-center
            @include contact__line
            font-weight: bold
            text-transform: uppercase
            background-color: $gold-bgc
            width: 0
            height: 0
            top: 95%
            opacity: 0
            color: $white-bgc
            transition: 0.3s ease-in-out
            